*:focus {
    outline: none;
}

body {
    background: url('https://pbs.twimg.com/media/FSqxVfkXEAA9HMx.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    border-radius: 100%;
}

body {
    text-shadow: 2px 2px 8px #000000;
}

header {
    color: white;   
    text-align: center;
    font-family: 'Sofia', sans-serif;
    margin-bottom: 8%;
    font-size: 2em;
    text-shadow: 5px 10px 15px black, 0 0 1em blue, 0 0 0.2em olive;
}
#clock span {
    float: left;
    text-align: center;
    margin: 0 2.5%;
    padding: 20px;
    width: 20%;
    box-sizing: border-box;
    color: white;
    font-family: 'TypeWriter', sans-serif;
    font-size: 50px;
}
#labels span {
    font-size: 30px;
}
#counter span {
    background-color: #D21F3c;
    border-radius: 20%;
    animation-name: colorChange;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    border: 3px solid white;
    box-shadow: 4px 4px 15px #000000;
}